div.nav ul li {
    width: 25%;}
div.bio-image {
    clear: both;
    float: none;
    width: auto;
    padding: 20px 0 0 0;}
div.bio {
    clear: both;
    float: none;
    width: auto;
    padding: 20px 0 0 0;}
@media screen and (max-width: 620px) {
    div.nav ul li {
        width: 33%;}}
@media screen and (max-width: 500px) {
    div.nav ul li {
        width: 50%;
        font-size: 85%}
    div.mobile-collapse {
        font-size: 85%;
        width: auto;
        float: none;
        margin-right: 0;}}
